<!-- urls_index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/_header %>
    <title>TinyApp</title>
  </head>
  <body>
    <!-- Add your EJS code here -->
    <ul>
      <% key.forEach(function(object){ %>
        <% for(var tiny in object){ %>
      <li>

        <a href=" <%= "/urls/" + tiny %>" > <%= tiny + " - " + object[tiny]; %></a>
        <form method="POST" action="/urls/<%- tiny %>/delete">
          <input type="submit" value="Delete" name="Delete" id="delete">
        </form>
        <a href=" <%= "/urls/" + tiny %>" ><input type="submit" value="Edit" name="Edit" id="Edit"></a>

      </li>
        <% } %>
      <% }); %>
    </ul>

    <p><a href="/urls/new">Create new URL</a></p>
  </body>
</html>
