<!-- urls_shows.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/_header %>
    <title>TinyApp</title>
  </head>

  <body>
    <ul>
      <li><a href=" <%= "/u/" + shortURL %>" ><%- baseURL + "u/" + shortURL  %></a></li>
    </ul>

    <form action="/urls/<%- shortURL %>?_method=PUT" method="POST" style="margin:150px;">
      <label for="longURL"></label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px" value="<%= longURL %>">
      <input type="submit" value="Update">
    </form>

<!-- display view data -->
<% for(let index in urlDatabase){ %>
<%  if(urlDatabase[index][shortURL]){ %>
      <p> Total views: </p> <%= urlDatabase[index].visits.length;   %>
      <p> Unique views: </p> <%= urlDatabase[index].uniqueIDs.length;   %>
      <p> History: </p>
      <ul>
        <% for(let obj in urlDatabase[index].visits){ %>
          <li>
            <p> Time: <%= urlDatabase[index].visits[obj].timestamp  %> User: <%= urlDatabase[index].visits[obj].userEmail %></p>
          </li>
        <% } %>
      </ul>
  <% } %>
<% } %>


  </body>
</html>
